---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('March 23 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		This is a site that I wanted to try with Astro and Cloudflare Worker.

		Looks very nice. Maybe I'll edit this further someday, but this will do for now to

		hold my np domain.
	</p>

</Layout>
